extends layout

block content
  main
    .title
      h2 Messages
    .msg-grid
      each el in messages 
        .msg
          if user !== undefined
            .msg-header
              span= el.author.name
              |
              | on #{ el.formattedAdded }
          .msg-content= el.msg
