extends layout

block content 
    main
        .title 
            h2 Sign Up
        form(method="post")
            .form-group 
                label(for="name") Name
                input(type="text", name="name", id="name", minlength="3" placeholder="Joe", required)
            .form-group
                label(for="email") Email
                input(type="email", name="email", id="email", minlength="5"  placeholder="hunter2@gmail.com", required)
            .form-group 
                label(for="password") Password
                input(type="password", name="password", id="password", required)
            .form-group 
                label(for="passwordConfirm") Confirm Password
                input(type="password", name="passwordConfirm", id="passwordConfirm", required)
            button.btn-success Send